{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <style>
        main{
            display: flex;
            justify-content: center;
            font-family: verdana, tahoma, helvetica, sans-serif;
            width: 70%;
            margin: auto;
            align-items: center;
            justify-content: center;
            margin-top: 100px;
            margin-bottom: 30px;
        }
        .log{
            flex: 1;
            margin:auto;
            text-align: center;
            margin-right: 50px;
        }
        .forms{
            flex: 1;
            padding: 20px;
            margin: auto;
            text-decoration: none;
            text-transform: none;
        }
        .forms input[type="text"], input[type="password"], input[type="email"]{
            border: 0px solid  rgb(21, 24, 49);
            width: 100%;
            font-family: sans-serif;
            border-radius: 50px;
            max-height: 100px;
            height: 40px;
            padding: 0px 20px;
            background: rgb(156, 190, 240);
        }
        .forms button, input[type="submit"]{
            width: 100%;
            border-radius: 50px;
            max-height: 100px;
            height: 40px;
            border: 0px solid  rgb(21, 24, 49);
            text-align: center;
            background:  rgb(21, 24, 49);
            color: white;
            margin-top: 10px;
        }
        .title-log{
            background: rgb(21, 24, 49);
            color: white;
            text-align: center;
            padding: 30px 20px;
            text-transform: uppercase;
        }
        .help-block{
            text-align: center;
        }
    </style>
    <h1 class="title-log">{% trans "Password Reset" %}</h1>
    <main>
        <div class="log">
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
        
            <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
        </div>
        <div class="forms">
            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="{% trans 'Reset My Password' %}" />
            </form>
        </div>
    </main>


    <p class="help-block">{% blocktrans %}Please contact us if you have any trouble resetting your password. <b> <a href="#">+250 784 976 465</a></b> {% endblocktrans %}</p>
{% endblock %}
