{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
    <style>
        main{
            display: flex;
            justify-content: center;
            font-family: verdana, tahoma, helvetica, sans-serif;
        }
        .log{
            flex: 1;
            margin:auto;
            text-align: center;
        }
        .forms{
            flex: 1;
            padding: 20px;
            margin: auto;
            text-decoration: none;
            text-transform: none;
        }
        .forms input[type="text"], input[type="password"], input[type="email"]{
            border: 0px solid  rgb(21, 24, 49);
            width: 100%;
            font-family: sans-serif;
            border-radius: 50px;
            max-height: 100px;
            height: 40px;
            padding: 0px 20px;
            background: rgb(156, 190, 240);
        }
        .forms button{
            width: 100%;
            border-radius: 50px;
            max-height: 100px;
            height: 40px;
            border: 0px solid  rgb(21, 24, 49);
            text-align: center;
            background:  rgb(21, 24, 49);
            color: white;
            margin-top: 10px;
        }
        .title-log{
            background: rgb(21, 24, 49);
            color: white;
            text-align: center;
            padding: 30px 20px;
            text-transform: uppercase;
        }
    </style>
    <h1 class="title-log">{% trans "Sign Up" %}</h1>
    <main>
    
    <div class="log">
        <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

    </div>
    <div class="forms">
        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button type="submit">{% trans "Sign Up" %} &raquo;</button>
        </form>
    </div>

</main>
<footer class="main-footer">
    <strong>Copyright &copy; 2022 <a href="#">joshbatey.io</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
    <b>Version</b> 1.0.1
    </div>
</footer>
{% endblock %}
