{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
<style>
    main{
        font-family: verdana, tahoma, helvetica, sans-serif;
        width: 50%;
        margin: auto;
        text-align: justify;
        align-items: center;
        justify-content: center;
        padding-top: 100px;
    }
    
    .page-title{
        background: rgb(21, 24, 49);
        color: white;
        text-align: center;
        padding: 30px 20px;
        text-transform: uppercase;
    }
</style>
    <h1 class="page-title">{% trans "Verify Your E-mail Address" %}</h1>
    <main>
    
        <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize 
            the signup process. If you do not see the verification e-mail in your main inbox, check your spam 
            folder. Please contact us if you do not receive the verification e-mail within a few minutes.
            {% endblocktrans %}</p>
    </main>

{% endblock %}
