{% extends "account/base.html"%}

    {% block content %}
        {% include "header.html" %}
            <div class="content-wrapper">
                <div class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1 class="m-0">Record </h1>
                            </div><!-- /.col -->
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                                    <li class="breadcrumb-item active">Record</li>
                                </ol>
                            </div><!-- /.col -->
                        </div><!-- /.row -->
                    </div>
                </div>
                <section class="content">
                    <div class="container-fluid">
                        <form action="" method="post" enctype="multipart/form-data">
                            {%csrf_token%}
                            <div class="form-group ">
                                <label>Upload a File</label>
                                <div class="col-md-6">
                                    <input type="file" name="image" class="form-control" placeholder="Upload a mark bord" accept="image/png, image/jpg, image/jpeg">
                                </div> 
                            </div>
                            <!-- <img src="{static '/capt.png' %}" alt="{{img}}"> -->
                            
                            <div class="form-group">
                                <button type="submit" name="save" class="btn btn-primary">
                                    <a class="text-light">
                                        <i class="fas fa-save"></i> Save
                                    </a>
                                </button>
                            </div>
                        </form>
                        {% if img_obj %}
                            <h3>Succesfully uploaded : {{img_obj.title}}</h3>
                            <img src="{{ img_obj.image.url}}" alt="connect" style="max-height:300px">
                        {% endif %}
                    </div><!--/. container-fluid -->
                    <style>
                        .images-card {
                            display:grid;
                            width:70%;
                            grid-template-columns:1fr 1fr;
                            align-items:center; 
                            justify-content: center;
                            margin: auto;
                        }
                        .image-card img{
                            max-width: fit-content;
                        }
                        .image-label{
                            background: rgb(7, 164, 104);
                            color: white;
                        }
                    </style>
                    <div class="images-card">
                        {% for image in images %}
                            <div class="image-item">
                                <img src="{{image.picture.url}}" alt="https://ocr-mark.herokuapp.com{{image.picture.url}}" srcset="" width="300" height="150">
                                <center class="image-label">{{image.picture.path}}</center>
                            </div>
                        {% endfor%}
                    </div>
                </section>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->
            
            <!-- Control Sidebar -->
            <aside class="control-sidebar control-sidebar-dark">
                <!-- Control sidebar content goes here -->
            </aside>
            <script>
                $('.toastsDefaultSuccess').onload(function() {
                    $(document).Toasts('create', {
                        class: 'bg-success',
                        title: 'Saved!!!',
                        subtitle: 'close',
                        body: 'Image was successfully saved.'
                    })
                });
            </script>
            <!-- /.control-sidebar -->
        {% include "footer.html" %}
    {% endblock %}
