{% extends "account/base.html"%}
    {% block content %}
        {% include "header.html" %}
            <div class="content-wrapper">
                <div class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1 class="m-0">Record </h1>
                            </div><!-- /.col -->
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                                    <li class="breadcrumb-item active">Record</li>
                                </ol>
                            </div><!-- /.col -->
                        </div><!-- /.row -->
                    </div>
                </div>
                <section class="content">
                    <div class="container-fluid">
                        <form action="" method="post">
                            {%csrf_token%}
                            <!-- <div class="form-group">
                                <label>End Period</label>
                                <div class="col-md-6">
                                    <input type="date" name="end_period" class="form-control">
                                </div> 
                            </div> -->
                            <div class="form-group ">
                                <label>Upload a File</label>
                                <div class="col-md-6">
                                    <input type="file" name="img" class="form-control">
                                </div> 
                            </div>
                            
                            <div class="divide">
                                - OR -
                                <br>
                            </div>
                            <!-- <label>Or </label> -->
                            <div class="form-group col-md-1 ">
                                <a href="capture" class="form-control rounded-pill text-center bg-info">
                                    <i class="fa fa-camera"></i>
                                </a>
                            </div>
                            <div class="form-group">
                                    <div class="col-md-6">
                                        <div class="card card-default">
                                        <div class="card-header">
                                            <h3 class="card-title">
                                            <i class="fas fa-bullhorn"></i>
                                            Result Scanner
                                            </h3>
                                        </div>
                                        <!-- /.card-header -->
                                        <div class="card-body">
                                            <div class="callout callout-danger">
                                            <h5>{{mark}}</h5>
                                            <h5>{{img}}</h5>
                                            </div>
                                        </div>
                                        <!-- /.card-body -->
                                        </div>
                                        <!-- /.card -->
                                    </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label>Period</label>
                                    <br>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-text">From</span>
                                    <input type="date" name="start" id="start" class="form-control">
                                    <span class="input-group-text">to</span>
                                    <input type="date" name="end" class="form-control">
                                </div> 
                            </div>
                            <div class="form-group">
                                <button type="submit" name="save" class="btn btn-primary">
                                    <a class="text-light">
                                        <i class="fas fa-save"></i> Save
                                    </a>
                                </button>
                            </div>
                        </form>
                    </div><!--/. container-fluid -->
                </section>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->
            
            <!-- Control Sidebar -->
            <aside class="control-sidebar control-sidebar-dark">
                <!-- Control sidebar content goes here -->
            </aside>
            <!-- /.control-sidebar -->
        {% include "footer.html" %}
    {% endblock %}
